body{
    background-color: #fafafa;
}



/* TITLE SECTION */

#title{
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 7% 15%;
}

.upper-title{
    font-weight: 200;
    font-size: 2.5rem;
    color: hsl(240, 1%, 40%);
}

.middle-title{
    font-size: 2.5rem;
    font-weight: 600;
    color:hsl(234, 12%, 34%);
}

.lower-title{
    margin-top: 25px;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    font-size: 1.2rem;
}



.team-builder{
    border-top: 5px solid hsl(0, 78%, 62%);
}

.supervisor{
    border-top: 5px solid hsl(180, 62%, 55%);
}

.karma{
    border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator{
    border-top: 5px solid hsl(212, 86%, 64%);
}

img{
    float: right;
}