*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}

.title{
    padding-top:10rem;
}

.title h1.bold{
    font-weight:600;
}

.title h1.light{
    font-weight:200;
}

.title p{
    text-align:center;
    color:hsl(229, 6%, 66%);
    padding-top:1rem;
}

.cards{
    margin-top:2rem;
}

.cards .kaart{
    padding:2rem;
    border-radius:5px;
    -webkit-box-shadow:-1px 10px 21px 0px #d4d4d4;
    -moz-box-shadow:-1px 10px 21px 0px #d4d4d4;
    box-shadow:-1px 10px 21px 0px #d4d4d4;
}

.cards .supervisor{
    border-top:4px solid hsl(180, 62%, 55%);
}

.cards .karma{
    border-top:4px solid hsl(34, 97%, 64%);
    margin-top:2rem;
}

.cards .team-builder{
    border-top:4px solid hsl(0, 78%, 62%);
    width:100%;
}
    
.cards .calculator{
    border-top:4px solid hsl(212, 86%, 64%);
}

.cards h3{
    font-weight:600;
}

.cards p{
    color:hsl(229, 6%, 66%);
    padding-top:1rem;
}

#footer-section{
    margin: 50px 10px 20px 10px;
}

@media (min-width:761px){
    .col-md-4{
        padding:0rem 1rem;
    }
}

@media (max-width:761px){
    .col-md-4{
        padding:0;
    }
}